.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  color: #f9edd7;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-link1 {
  color: #F9EDD7;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link2 {
  color: #F9EDD7;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link2:hover {
  color: var(--dl-color-scheme-brown);
}








.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #151414;
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-image {
  width: var(--dl-size-size-medium);
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-register {
  color: #F9EDD7;
  text-decoration: none;
  background-color: #FF0203;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: #F9EDD7;
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-root-class-name {
  height: var(--dl-size-size-small);
  align-self: stretch;
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.portofolio-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.portofolio-card-image-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-medium);
  min-width: var(--dl-size-size-medium);
  align-self: center;
  max-height: var(--dl-size-size-medium);
  min-height: var(--dl-size-size-medium);
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
}
.portofolio-card-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.portofolio-card-see-project-container {
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
}
.portofolio-card-see-project-container:hover {
  opacity: 1;
}
.portofolio-card-first-name {
  color: #F9EDD7;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}




.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #151414;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  position: relative;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-max-width {
  margin-top: var(--dl-space-space-unit);
}
.home-gallery {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container01 {
  width: 25%;
  position: relative;
  align-self: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  background-image: radial-gradient(circle at center, rgb(31, 31, 32) 1.00%,rgb(0, 0, 0) 100.00%);
}
.home-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-large);
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container02 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link {
  display: contents;
}
.home-container03 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image01 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link01 {
  display: contents;
}
.home-container04 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image02 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link02 {
  display: contents;
}
.home-container05 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image03 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link03 {
  display: contents;
}
.home-container06 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image04 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container07 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link04 {
  display: contents;
}
.home-container08 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image05 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link05 {
  display: contents;
}
.home-container09 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image06 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link06 {
  display: contents;
}
.home-container10 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image07 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link07 {
  display: contents;
}
.home-container11 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image08 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container12 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container13 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image09 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link08 {
  display: contents;
}
.home-container14 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  position: relative;
  align-self: center;
  box-shadow: 0px 0.5px 0.5px 0px #6d6666;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(21, 21, 21) 2.00%,rgb(13, 12, 12) 100.00%);
}
.home-image10 {
  top: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-small);
  bottom: var(--dl-space-space-unit);
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-portofolio {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-max-width1 {
  flex: 1;
  flex-direction: column;
}
.home-tab-selector-cards-container {
  width: 100%;
  height: var(--dl-size-size-large);
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.home-component2 {
  text-decoration: none;
}
.home-component3 {
  text-decoration: none;
}
.home-top-part {
  width: 100%;
  display: none;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.home-links-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text04 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text08 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-subscribe-container {
  flex: 0 0 auto;
  width: 35%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text17 {
  color: #FF0000;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-textinput {
  outline: none;
  align-self: stretch;
  padding-top: 4px;
  border-color: rgba(0, 0, 0, 0.1);
  padding-left: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.home-max-width3 {
  flex-direction: row;
  justify-content: space-between;
}
.home-image11 {
  width: 100px;
  object-fit: cover;
}
.home-text18 {
  align-self: center;
}
.home-text19 {
  color: #F9EDD7;
}
.home-text20 {
  color: #F9EDD7;
  font-weight: 700;
}
.home-text21 {
  color: #F9EDD7;
}
.home-text22 {
  color: #F9EDD7;
  font-weight: 700;
}
@media(max-width: 991px) {
  .home-max-width {
    margin-top: var(--dl-space-space-halfunit);
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-container01 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-container02 {
    width: 100%;
    flex-direction: row;
  }
  .home-container03 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image01 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container04 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image02 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container05 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container06 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image04 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container07 {
    width: 100%;
    flex-direction: row;
  }
  .home-container08 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image05 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container09 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image06 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container10 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image07 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container11 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image08 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container12 {
    width: 100%;
    flex-direction: row;
  }
  .home-container13 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image09 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-container14 {
    width: 100%;
    height: var(--dl-size-size-large);
  }
  .home-image10 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-tab-selector-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 767px) {
  .home-max-width {
    margin-top: var(--dl-space-space-halfunit);
  }
  .home-container01 {
    height: var(--dl-size-size-large);
  }
  .home-container02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-container03 {
    height: var(--dl-size-size-large);
  }
  .home-image01 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-container04 {
    height: var(--dl-size-size-large);
  }
  .home-image02 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-container05 {
    height: var(--dl-size-size-large);
  }
  .home-image03 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-container06 {
    height: var(--dl-size-size-large);
  }
  .home-image04 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-medium);
  }
  .home-container07 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-container08 {
    height: var(--dl-size-size-large);
  }
  .home-image05 {
    height: var(--dl-size-size-small);
  }
  .home-container09 {
    height: var(--dl-size-size-large);
  }
  .home-image06 {
    height: auto;
  }
  .home-container10 {
    height: var(--dl-size-size-large);
  }
  .home-image07 {
    height: auto;
  }
  .home-container11 {
    height: var(--dl-size-size-large);
  }
  .home-image08 {
    height: auto;
  }
  .home-container12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-container13 {
    height: var(--dl-size-size-large);
  }
  .home-image09 {
    height: auto;
  }
  .home-container14 {
    height: var(--dl-size-size-large);
  }
  .home-image10 {
    height: auto;
  }
  .home-tab-selector-cards-container {
    grid-template-columns: 1fr;
  }
  .home-top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .home-subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-max-width {
    margin-top: var(--dl-space-space-halfunit);
  }
  .home-container01 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-container03 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image01 {
    height: auto;
  }
  .home-container04 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image02 {
    height: auto;
  }
  .home-container05 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image03 {
    height: auto;
  }
  .home-container06 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image04 {
    width: var(--dl-size-size-medium);
    height: auto;
  }
  .home-container08 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image05 {
    height: auto;
  }
  .home-container09 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image06 {
    height: auto;
  }
  .home-container10 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image07 {
    height: auto;
  }
  .home-container11 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image08 {
    height: auto;
  }
  .home-container13 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image09 {
    height: auto;
  }
  .home-container14 {
    height: var(--dl-size-size-large);
    margin-bottom: var(--dl-space-space-twounits);
    background-image: radial-gradient(circle at center, rgb(30, 31, 32) 0.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-image10 {
    height: auto;
  }
  .home-top-part {
    align-items: center;
    flex-direction: column;
  }
  .home-contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-image11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text18 {
    text-align: center;
  }
}
