<div>
  <link href="./about.css" rel="stylesheet" />
  <div class="about-about section-container">
    <div class="about-max-width max-content-container">
      <div class="about-text-container">
        <span class="about-text"><span>about us</span></span>
        <h2 class="about-text01 heading2">
          <span>We build brands with</span>
          <br />
          <span>purpose and impact</span>
        </h2>
        <span class="about-text05">
          <span>
            We are a full-service digital creative agency with brick and mortar
            offices and plenty of in-house talent.
          </span>
        </span>
        <div class="about-checklist">
          <div class="about-check-item">
            <svg viewBox="0 0 1024 1024" class="about-icon">
              <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
            </svg>
            <span class="about-text06">
              <span>Quality services and support all time</span>
            </span>
          </div>
          <div class="about-check-item1">
            <svg viewBox="0 0 1024 1024" class="about-icon02">
              <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
            </svg>
            <span class="about-text07">
              <span>Long-term strategy development</span>
            </span>
          </div>
          <div class="about-check-item2">
            <svg viewBox="0 0 1024 1024" class="about-icon04">
              <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
            </svg>
            <span class="about-text08">
              <span>FREE Brand Audit for startups</span>
            </span>
          </div>
          <div class="about-check-item3">
            <svg viewBox="0 0 1024 1024" class="about-icon06">
              <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
            </svg>
            <span class="about-text09">
              <span>Over 10 years in the business</span>
            </span>
          </div>
          <div class="about-check-item4">
            <svg viewBox="0 0 1024 1024" class="about-icon08">
              <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
            </svg>
            <span class="about-text10">
              <span>Future-Proofing Projects</span>
            </span>
          </div>
          <div class="about-check-item5">
            <svg viewBox="0 0 1024 1024" class="about-icon10">
              <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
            </svg>
            <span class="about-text11">
              <span>Support in any implementation</span>
            </span>
          </div>
        </div>
      </div>
      <div class="about-image-container">
        <img
          alt="image"
          src="public/playground_assets/rectangle%20109-1000w.png"
          class="about-image"
        />
      </div>
    </div>
  </div>
</div>
