<div>
  <link href="./banner.css" rel="stylesheet" />
  <div class="banner-banner section-container">
    <div class="banner-max-width max-content-container">
      <span class="banner-text"><span>what are you waiting?</span></span>
      <h2 class="banner-text1 heading2"><span>Let’s collaborate!</span></h2>
      <span class="banner-text3">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt
        </span>
        <br />
        <span>
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation.
        </span>
      </span>
      <button class="banner-primary button-lg button-secondary-white button">
        <span>Contact us</span>
      </button>
    </div>
  </div>
</div>
