<div>
  <link href="./blog.css" rel="stylesheet" />
  <div class="blog-blog section-container">
    <div class="blog-max-width max-content-container">
      <span class="blog-text"><span>from blog</span></span>
      <h2 class="blog-text1 heading2">
        <span>Our latest articles and resources</span>
      </h2>
      <span class="blog-text3">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt
        </span>
        <br />
        <span>
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation.
        </span>
      </span>
      <button class="blog-primary button-secondary button-lg button">
        <span>Explore the blog</span>
      </button>
      <div class="blog-blog-cards-container">
        <div class="blog-card-blog-card blog-card-root-class-name">
          <img
            alt="image"
            src="public/playground_assets/rectangle%2099-1500w.png"
            class="blog-card-image"
          />
          <div class="blog-card-container">
            <button class="blog-card-button button-secondary button">
              <span>Web Design</span>
            </button>
            <span class="blog-card-text"><span>Dec 8, 2022</span></span>
          </div>
          <span class="blog-card-text1">
            <span>Excepteur sint occaecat cupidatat non proident, sunt</span>
            <span>in culpa qui and.</span>
          </span>
          <span class="blog-card-text4"><span>Learn more</span></span>
        </div>
        <div class="blog-card-blog-card blog-card-root-class-name1">
          <img
            alt="image"
            src="public/playground_assets/rectangle%2099%20%5B1%5D-1500w.png"
            class="blog-card-image"
          />
          <div class="blog-card-container">
            <button class="blog-card-button button-secondary button">
              <span>advertising</span>
            </button>
            <span class="blog-card-text"><span>Aug 14, 2022</span></span>
          </div>
          <span class="blog-card-text1">
            <span>Excepteur sint occaecat cupidatat non proident, sunt</span>
            <span>in culpa qui and.</span>
          </span>
          <span class="blog-card-text4"><span>Learn more</span></span>
        </div>
        <div class="blog-card-blog-card">
          <img
            alt="image"
            src="public/playground_assets/unsplash_h7qmwoxf6z8-1500w.png"
            class="blog-card-image"
          />
          <div class="blog-card-container">
            <button class="blog-card-button button-secondary button">
              <span>Branding</span>
            </button>
            <span class="blog-card-text"><span>Jul 12, 2022</span></span>
          </div>
          <span class="blog-card-text1">
            <span>Excepteur sint occaecat cupidatat non proident, sunt</span>
            <span>in culpa qui and.</span>
          </span>
          <span class="blog-card-text4"><span>Learn more</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
