<div>
  <link href="./heading-container.css" rel="stylesheet" />
  <div class="heading-container-heading-container">
    <h1 class="heading-container-text heading1">
      <span>We are a creative agency based</span>
      <br />
      <span>in Massachusetts</span>
    </h1>
    <span class="heading-container-text3">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      </span>
      <br />
      <span>tempor incididunt ut labore et dolore magna aliqua.</span>
    </span>
    <button class="heading-container-primary button-primary button-lg button">
      <span>Get in touch with us</span>
    </button>
  </div>
</div>
