<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="https://getzke.id" class="navigation-links-link navigation-Link">
      <span>Home</span>
    </a>
    <a
      href="https://getzke.id/pesanan/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1 navigation-Link"
    >
      <span>Pesanan</span>
    </a>
    <a
      href="https://getzke.id/my-account/edit-account/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link2 navigation-Link"
    >
      <span>Akun Anda</span>
    </a>
  </nav>
</div>
