<div>
  <link href="./navigation.css" rel="stylesheet" />
  <header data-role="Header" class="navigation-header">
    <div class="navigation-max-width">
      <img
        alt="logo"
        src="03aeadc5-b35b-4978-a295-0df3c4a7a535"
        class="navigation-image"
      />
      <div class="navigation-nav">
        <nav class="navigation-links-nav navigation-links-root-class-name17">
          <a
            href="https://getzke.id"
            class="navigation-links-link navigation-Link"
          >
            <span>Home</span>
          </a>
          <a
            href="https://getzke.id/pesanan/"
            target="_blank"
            rel="noreferrer noopener"
            class="navigation-links-link1 navigation-Link"
          >
            <span>Pesanan</span>
          </a>
          <a
            href="https://getzke.id/my-account/edit-account/"
            target="_blank"
            rel="noreferrer noopener"
            class="navigation-links-link2 navigation-Link"
          >
            <span>Akun Anda</span>
          </a>
        </nav>
        <a
          href="https://getzke.id/store"
          class="navigation-register button-secondary button button-md"
        >
          <span>STORE</span>
        </a>
      </div>
      <div data-type="BurgerMenu" class="navigation-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navigation-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-type="MobileMenu" class="mobile-menu">
        <div class="navigation-nav1">
          <div class="navigation-container">
            <img alt="image" src="public/playground_assets/logo1-1500h.png" />
            <div
              data-type="CloseMobileMenu"
              class="navigation-close-mobile-menu"
            >
              <svg viewBox="0 0 1024 1024" class="navigation-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav class="navigation-links-nav navigation-links-root-class-name18">
            <a
              href="https://getzke.id"
              class="navigation-links-link navigation-Link"
            >
              <span>Home</span>
            </a>
            <a
              href="https://getzke.id/pesanan/"
              target="_blank"
              rel="noreferrer noopener"
              class="navigation-links-link1 navigation-Link"
            >
              <span>Pesanan</span>
            </a>
            <a
              href="https://getzke.id/my-account/edit-account/"
              target="_blank"
              rel="noreferrer noopener"
              class="navigation-links-link2 navigation-Link"
            >
              <span>Akun Anda</span>
            </a>
          </nav>
          <button class="button-secondary button button-md">
            <span>Get in touch</span>
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
