<div>
  <link href="./process.css" rel="stylesheet" />
  <div class="process-process section-container">
    <div class="process-max-width max-content-container">
      <span class="process-text"><span>Our process</span></span>
      <h2 class="process-text01 heading2">
        <span>We use a simple three step process.</span>
        <br />
        <span>Take a look.</span>
      </h2>
      <div class="process-step">
        <span class="process-text05"><span>01</span></span>
        <div class="process-container">
          <span class="process-text06"><span>Finding the best idea</span></span>
          <span class="process-text07">
            <span>
              There are countless businesses already in existence, so it’s very
              likely that you won’t be the first person to think of an idea or
              product. There are countless businesses already in existence, so
              it’s very likely that you won’t be the first person to think of an
              idea or product.
            </span>
          </span>
        </div>
      </div>
      <div class="process-step1">
        <span class="process-text08"><span>02</span></span>
        <div class="process-container1">
          <span class="process-text09">
            <span>Intense Brain storming</span>
          </span>
          <span class="process-text10">
            <span>
              Brainstorming is a process of toiling and generating new ideas
              alone or by holding intensive group discussions between team
              members in a team.
            </span>
          </span>
        </div>
      </div>
      <div class="process-step2">
        <span class="process-text11"><span>03</span></span>
        <div class="process-container2">
          <span class="process-text12">
            <span>Strong design execution</span>
          </span>
          <span class="process-text13">
            <span>
              As a creative, using your professional judgement, you should begin
              filtering your various ideas and designs, retaining the strongest
              relevant material.
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
