<div>
  <link href="./services.css" rel="stylesheet" />
  <div class="services-services section-container">
    <div class="services-max-width max-content-container">
      <div class="services-heading-container">
        <div class="services-text-container">
          <span class="services-text"><span>our services</span></span>
          <h2 class="heading2">
            <span>We provide a wide range of</span>
            <br />
            <span>creative solutions</span>
          </h2>
        </div>
        <div class="services-controls">
          <button class="control-btn">
            <svg viewBox="0 0 1024 1024" class="services-icon">
              <path
                d="M402.746 877.254l-320-320c-24.994-24.992-24.994-65.516 0-90.51l320-320c24.994-24.992 65.516-24.992 90.51 0 24.994 24.994 24.994 65.516 0 90.51l-210.746 210.746h613.49c35.346 0 64 28.654 64 64s-28.654 64-64 64h-613.49l210.746 210.746c12.496 12.496 18.744 28.876 18.744 45.254s-6.248 32.758-18.744 45.254c-24.994 24.994-65.516 24.994-90.51 0z"
              ></path>
            </svg>
            <span></span>
          </button>
          <button class="control-btn">
            <svg viewBox="0 0 1024 1024" class="services-icon2">
              <path
                d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"
              ></path>
            </svg>
            <span></span>
          </button>
        </div>
      </div>
      <div class="services-cards-container">
        <div class="services-card">
          <div class="services-card-container">
            <img
              alt="image"
              src="public/playground_assets/website-200h.png"
              class="services-card-image"
            />
          </div>
          <span class="services-card-text"><span>Website design</span></span>
          <span class="services-card-text1">
            <span>
              Create your ubest unique App development, crafted for your
              business needs.
            </span>
          </span>
          <span class="services-card-text2"><span>Learn more</span></span>
        </div>
        <div class="services-card">
          <div class="services-card-container">
            <img
              alt="image"
              src="public/playground_assets/file-document-200w.png"
              class="services-card-image"
            />
          </div>
          <span class="services-card-text"><span>Copy-writting</span></span>
          <span class="services-card-text1">
            <span>
              Create your ubest unique App development, crafted for your
              business needs.
            </span>
          </span>
          <span class="services-card-text2"><span>Learn more</span></span>
        </div>
        <div class="services-card">
          <div class="services-card-container">
            <img
              alt="image"
              src="public/playground_assets/dice-5-200h.png"
              class="services-card-image"
            />
          </div>
          <span class="services-card-text"><span>Product Design</span></span>
          <span class="services-card-text1">
            <span>
              Create your ubest unique App development, crafted for your
              business needs.
            </span>
          </span>
          <span class="services-card-text2"><span>Learn more</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
