.blog-blog {
  position: relative;
}
.blog-max-width {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.blog-text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.blog-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-text3 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-primary {
  margin-bottom: var(--dl-space-space-threeunits);
}
.blog-blog-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .blog-blog-cards-container {
    align-items: center;
    flex-direction: column;
  }
}
